# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [193]:
# import numpy and pandas
import math 
import pandas as pd # manipulate dataframes
import numpy as np # numerical python
import matplotlib.pyplot as plt # viz

# New libraries
import scipy.stats as st # stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
from scipy.stats import chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [143]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [145]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [147]:
# Your code here:
pokemon['Legendary'].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [149]:
# Your code here:
pokemon.groupby('Legendary')['Total'].agg(['mean', 'std'])

                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [153]:
# Your code here:
legendary = pokemon[pokemon["Legendary"] == True]["Total"]
non_legendary = pokemon[pokemon["Legendary"] == False]["Total"]
t_stat, p_value = st.ttest_ind(legendary, non_legendary, equal_var=False)
print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.4f}")

T-statistic: 25.8336
P-value: 0.0000

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:
# H0 = there is a significant difference between Legendary and non-legendary
# H1 = there is no significant difference between Legendary and non-legendary
# The sresult is statisticallt significant, fail to reject H0.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [157]:
# Your code here:
pokemon.value_counts('Type 1')

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [167]:
# Your code here:
water_pokemon = pokemon[pokemon["Type 1"] == "Water"]["Total"].agg(['mean', 'std'])
other_pokemon = pokemon[pokemon["Type 1"] != "Water"]["Total"].agg(['mean', 'std'])
water_pokemon

mean    430.455357
std     113.188266
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [171]:
# Your code here:
t_stat, p_value = st.ttest_ind(water_pokemon, other_pokemon, equal_var=True)
print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.4f}")

T-statistic: -0.0298
P-value: 0.9790

Write your conclusion below.

In [ ]:
# Your conclusions here:
# H0 = there is no difference between water pokemons and the others. 
# H1 = there is a difference between water pokemons and the others.
# result is not statisticallt significant, fail to reject H0.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [174]:
# Your code here:
defense = pokemon['Defense']
attack = pokemon['Attack']
t_stat, p_value = st.ttest_rel(defense, attack)
print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.4f}")

T-statistic: -4.3256
P-value: 0.0000

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
# H0 = there is no difference between pokemons
# H1 = there is a difference between pokemons
# reject H0

<-- We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.  -->

In [176]:
# Your code here:
sp_def = pokemon['Sp. Def']
sp_atk = pokemon['Sp. Atk']
t_stat, p_value = st.ttest_rel(sp_def, sp_atk)
print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.4f}")

T-statistic: -0.8540
P-value: 0.3934

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
# H0 = there is no difference between pokemons
# H1 = there is a difference between pokemons
# fail to reject H0

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [187]:
# Your code here:
difference = pokemon['Defense'] - pokemon['Attack']
t_stat_1samp, p_value_1samp = st.ttest_1samp(difference, popmean=0)

# Step 3: Perform the standard paired t-test (should match results)
t_stat_paired, p_value_paired = st.ttest_rel(pokemon['Defense'], pokemon['Attack'])
print("One-sample t-test on the difference:")
print(f"T-statistic: {t_stat_1samp:.4f}, P-value: {p_value_1samp:.4f}")

print("\nPaired t-test (standard approach):")
print(f"T-statistic: {t_stat_paired:.4f}, P-value: {p_value_paired:.4f}")

One-sample t-test on the difference:
T-statistic: -4.3256, P-value: 0.0000

Paired t-test (standard approach):
T-statistic: -4.3256, P-value: 0.0000

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [189]:
# Your code here:
tab = pd.crosstab(pokemon['Type 1'] == 'Water', pokemon['Legendary'])
print(tab)

Legendary  False  True
Type 1
False        627     61
True         108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [197]:
# Your code here:
_, chi2_pvalue, _, _ = chi2_contingency(tab)
chi2_pvalue

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here:
# The result is not statistically significant (p = 0.0863). You cannot reject H0.